.grid {
    position: relative;
    box-sizing: border-box;
    padding: 1cm;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 5px 1px rgb(175, 175, 175);
    width: 210mm;
    height: 297mm;
    z-index: 100;

}

.form {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5mm solid rgb(229, 229, 229);
    margin: .5mm;
    background-color: #525252;
}

.form:hover {
    transition-property: all;
    transition-duration: .5s;
    background-color: rgb(68, 57, 57);


}



.image {
    position: absolute;
    background-color: rgb(255, 255, 255);
}


.heart {
    height: 30px;
    width: 30px;
    text-align: center;
    position: absolute;
    background-image: url('../public/heart.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: none;
    padding: 5px;
    margin-bottom: 50px;
    z-index: 100000000;
}

.labelFile {
    position: relative;
    cursor: pointer;
    width: 5cm;
    height: 8cm;

    display: flex;
    justify-content: center;
    align-items: center;

    color: rgb(219, 219, 219);
    padding: 5px 15px;
    border-radius: 3px;

    transition-property: all;
    transition-duration: .5s;
    border: none;
}

.inputFile {
    display: none;
}




@media (max-width: 850px) {
    .grid {
        position: relative;
        box-sizing: border-box;
        padding: .5mm;
        padding-bottom: 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-items: center;
        background-color: rgba(255, 255, 255, 0);
        box-shadow: 0 0 5px 1px rgb(175, 175, 175);
        width: 100vw;
        min-width: 210mm;
        height: auto;
    }

    .flex {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }


    .form {
        box-sizing: border-box;
        position: relative;
        width: 5cm;
        height: 8cm;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1.5mm solid rgb(229, 229, 229);
        margin: 2.5mm;
        background-color: #00000058;
    }
}