.header {
  position: fixed;
  top: 0;
  height: 65px;
  width: 100%;
  padding: 5px 20px;
  color: #f2f2f2;
  background-color: #E51F22;

  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 3px 1px rgb(109, 109, 109);


  border-bottom: 10px solid #ffffff;
  z-index: 1000;
}

.header button {
  display: inline-block;
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-left: 10px;
}

.home {
  display: none;
}

.power {
  display: none;
}

.containerButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  position: relative;
  box-sizing: border-box;
  min-height: 100vh;
  width: 100vw;
  min-width: 210mm;
  background-image: url('../public/fondo-web.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

@media (max-width: 850px) {
  .home {
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .power {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
  }

  .header button {
    display: none;
  }
}