.container {
    min-height: 100vh;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo {
    height: auto;
    width: 150px;
    border-radius: 150px;
}
.buttons {
    text-align: center;
}

.buttons > :nth-child(n) {
    text-align: center;
    border-radius: 5px;
}
.box {
    position: relative;
    box-sizing: border-box;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 5px 1px rgb(175, 175, 175);
    width: 794px;
    height: 1123px;
    z-index: 100;
}